{{ define "main" }}

<!-- {{ partial "page-title.html" . }} -->

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Transition project -->
<section id="project" class="transition-project">
  <div class="container-fluid">
    {{ range .Pages }}
    {{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
    <div id="{{ $lastUrlElement }}" class="row">
      <h1>
        {{ partial "page-title.html" . }}
      </h1>
      <div class="col-md-offset-1 col-md-3">
        <div class="panel text-justify">
          <div class="panel-body">
            {{ .Content }}
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="transition-img">
          <img src="{{ .Params.photo | absURL }}"/>
        </div>
      </div>

    </div>
  {{ end }}
  </div>
</section>

{{ end }}
