#home-content {

  h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
    border-radius: 300px 300px 300px 300px;
  }
}


.home-hero {
  padding: 0px;

  .row {
    margin: 0px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

  .home-hero-left, .home-hero-right {
    padding: 20px;
    .img-thumbnail {
      width: 400px;
      height: 400px;
    }
  }

  .home-hero-left {
    background-color: $yellow;
    .card-header {
      background-color: $yellow;
      color: $dark;
      font-family: $secondary-font;
      border-radius: 0px;
      padding: 5px;
    }
  }

  .home-hero-right {
    background-color: $dark;
    .card-header {
      background-color: $dark;
      color: $yellow;
      font-family: $secondary-font;
      border-radius: 0px;
      padding: 5px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $pink;
    font-family: $secondary-font;
  }

}

.home-line-up {
  padding-bottom: 30px;
  color: #fff;

  h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: $secondary-font;
    border-radius: 300px 300px 300px 300px;
  }

  .home-line-up-artists {
    padding: 30px;
    text-align: center;

    a {
      color: #333;
    }
    a:hover {
      color: #F6E24F;
    }
  }


  .home-line-up-header {
    padding: 10px;
    color: $dark;
    // background-color: #222;
    // transform: skew(-20deg);
    margin: 20px;
    margin-bottom: 0px;
  }

  .home-line-up-artists-top1 {
    background-color: #fff;
    margin: auto;
    width: 90%;
  }

  .home-line-up-artists-top2 {
    background-color: #fff;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
  }

  .btn-lineup {
    color: $dark;
    font-family: $secondary-font;
    background-color: $yellow;
    border-color: $yellow;
  }
}
