$light: #fff;
$dark: #333;
$primary-color: #655E7A;
$secondary-color: #F9DE50;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font: 'Roboto', sans-serif;
$secondary-font:'Bebas Neue', serif;
$icon-font: 'themefisher-font';

$pink: #C84087;
$blue: #4DA8E3;
$yellow: #F4E06D;

$spacer: 1rem;