---
title: "${name}"
categories: ${categories}
tags: ${tags}
promoted: 0
banner: images/artists/${name | lower | replace(" ", "-")}/banner.jpg
gallery: []
social:
  - icon : "ion-social-facebook-outline"
    link : "#"
  - icon : "ion-social-twitter-outline"
    link : "#"
draft: false
---

# Biographie
---

**${name}**
