{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="artist-item section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ $artistBanner := .Params.Banner }}
        {{ if (fileExists (printf "static/%s" $artistBanner)) -}}
          <img class="img-responsive w-100" src="{{ $artistBanner | relURL }}" alt="">
        {{ else }}
          <img class="img-responsive w-100" src='{{ "images/artists/default/banner.png" | relURL }}' alt="">
        {{- end }}
      </div>

      <div class="col-md-4">
        <div class="artist-details">
          <h2><i class="ion-location" style="font-size: 30px;"></i> Origine</h2>
          {{ range (.GetTerms "categories") }}
            <span class="align-baseline">
              <a href="{{ .Permalink }}">
                <i class="ion-map" style="font-size: 30px;"></i>
                {{ .LinkTitle | title }}
              </a>
            </span>

          {{ end }}

          <hr/>

          <h2><i class="ion-android-share"></i> Réseaux Sociaux</h2>
          {{ range .Params.social }}
            {{ if not (eq .link "#") }}
              <div class="row">
                <div class="col-md-12">
                  {{ $scratch := newScratch }}
                  {{ $scratch.Set "social" "ion-link" }}
                  {{ if strings.HasPrefix .link "https://www.instagram.com" }}
                    {{ $scratch.Set "social" "ion-social-instagram-outline" }}
                  {{ else if strings.HasPrefix .link "https://www.facebook.com" }}
                    {{ $scratch.Set "social" "ion-social-facebook-outline" }}
                  {{ end }}
                  <a href="{{ .link | safeURL }}" target="blank">
                      <span class="align-baseline">
                        <i class="{{ $scratch.Get "social" }}" style="font-size: 30px;"></i>
                        {{ index (last 1 (split .link "/")) 0 }}
                      </span>
                  </a>
                  </div>
              </div>
            {{ end }}
          {{ end }}
        </div>

        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="artist-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="artist-details">
          <h1>Galerie</h1>
          <div class="row">
            {{ partial "carousel.html" (dict "images" .Params.Gallery) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
