{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.artists.lineup.enable }}
{{ with $data.artists.lineup }}
<!--artist-->
<section class="artists-lineup">
  <div class="container-fluid">

    <div class="artist-lineup-header">
      <h1>LineUp</h1>
    </div>

    <div class="row">
      {{ range .artists }}
        {{ $galleryUrl :=  .gallery }}
        {{ $bannerUrl := print $galleryUrl "/" .banner | absURL }}
        <div class="col-md-3">
          <div class="artist-card">
            <a href='{{ "#" }}' >
              <div class="artist-card-img" style="background-image:url({{ $bannerUrl }});"></div>
              <div class="artist-card-img-overlay">
                <h4 class="artist-card-title">{{ .name }}</h4>
              </div>
            </a>
          </div>
        </div>
      {{ end}}
    </div>
  </div>
</section>
<!--/artist-->

{{ end }}
{{ end }}
