<!--line-up -->
<section class="home-line-up">
  {{ partial "page-title.html" . }}

  <div class="container-fluid text-center">
    {{ $promotedArtists := slice }}
    {{ range where .Site.Pages "Section" "line-up" }}
      {{ if and (not (eq .Path "line-up/_index.md")) (isset .Params "promoted") }}
        {{ $promotedArtists = $promotedArtists | append . }}
      {{ end }}
    {{ end }}
    {{ $promotedArtists := sort $promotedArtists ".Params.promoted" "desc"}}

    <!-- Display Top 10 most important -->
    <ul class="home-line-up-artists list-inline">
      {{ $topN := 100 }}
      {{ range $index, $page := first $topN $promotedArtists }}
        {{ $separator := "-"  }}
        {{ if eq (add 1 $index) (len (first $topN $promotedArtists)) }}
          {{ $separator = ""  }}
        {{ end }}

        <li class="list-inline-item">
          <h1>
              <a href="{{ .Permalink }}">{{ .Title }}</a> {{ $separator }}
          </h1>
        </li>
      {{ end }}
    </ul>

    {{ with .Site.GetPage "Section" "line-up" }}
      <a href="{{ .Permalink }}" class="btn btn-lineup btn-lg"><i class="ion-plus"></i> Plus d'artistes</a>
    {{ end }}
  </div>
</section>
<!--/line-up-->
