{{ with .Site.Params.eventbrite }}

<div id="transition-tickets" class="container-fluid text-center">
  <div class="justify-content-center p-5">
    <ul class="list-inline">

      <li>
        {{ if and .message (not (eq .message "")) }}
          <h3>
            <i class="ion-information-circled"></i>
            {{ .message }}
          </h3>
        {{ else }}
          <h2>
            <i class="ion-calendar"></i>
            Réservez votre visite
          </h2>
        {{ end }}
      </li>

      {{ if and (not (eq .url "#")) (not (eq .url "")) }}
        <li>
          <a class="btn btn-primary btn-xlarge" style="margin-bottom: 15px" href="{{ .url }}" role="button" target="_blank">
            <i class="ion-pricetags"></i> Obtenir vos tickets
          </a>
        </li>
      {{ end }}

      {{ if and (not (eq .url_edu "#")) (not (eq .url_edu "")) }}
        <li>
          <a class="btn btn-secondary btn-xlarge" style="margin-bottom: 15px" href="{{ .url_edu }}" role="button" target="_blank">
            <i class="ion-bookmark"></i> Éducation Nationale
          </a>
        </li>
      {{ end }}

    </ul>
  </div>
</div>
{{ end }}
