{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- /hero -->
<div class="container-fluid home-hero">
  <!-- <img src="{{.Params.banner | relURL}}" class="img-responsive w-100" /> -->

  <div class="row">
    <div class="col-md-4 home-hero-left text-center">
      <div class="card">
        <h2 class="card-header">Transition - Le Shop</h2>
        <div class="card-body">
          <a href="https://shoptransition.bigcartel.com/" target="blank">
            <h3>
              <button class="btn btn-medium btn-main">
                <i class="ion-ios-cart"></i> Commandez le Book Transition
              </button>
            </h3>
            <img src="images/transition-shop-book.jpeg" class="img-thumbnail"/>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-8 home-hero-right text-center">
      <div class="card">
        <h2 class="card-header">Transition - Les Portes</h2>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-justify" style="color: white">
                A la suite du projet TRANSITION - musée éphémère du street art d’Abbeville, les portes
                des appartements de ce bâtiment seront transformées en œuvres d’art par des artistes européens.

                Ces œuvres seront exposées sous le nom de « TRANSITION, les portes » de mars à septembre 2022 à l’Abbaye de Saint Riquier (80)

                Dans le cadre de cette exposition, l’association CURB / 80100 SKATEPARK organise un concours de nouvelles pour faire dialoguer les œuvres artistiques avec des œuvres littéraires.
              </p>
              <a href="images/transition-les-portes-reglement.pdf" target="blank">
                <h3>
                  <button class="btn btn-medium btn-main">
                    <i class="ion-ios-book"></i> Participer au concours d'écriture
                  </button>
                </h3>
              </a>
            </div>
            <div class="col-md-4">
              <img src="images/transition-les-portes.jpg" class="img-thumbnail"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /line-up -->
{{ partial "line-up" . }}

<div class="container-fluid p-0 m-5">
  <img src="{{ .Params.poster | relURL }}" class="img-responsive w-100" />
</div>
{{ end }}
