{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- /line-up -->
{{ partial "line-up" . }}

<div class="container-fluid">

  <hr />

  <div class="row">
    <!-- home-banner -->
    <div class="col-md-6">
      <p class="text-center">
        {{ .Content }}
      </p>
    </div>
    <div class="col-md-6">
      <p class="text-center">
        <img src="{{ "images/transition-poster-white.jpg" | relURL }}" class="img-responsive" />
      </p>
    </div>
  </div>
</div>
{{ end }}
