.bg-1 {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.bg-2 {
	background-size: contain;
	background-position: bottom auto bottom auto;
	background-attachment: fixed;
}
